* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.container {
    width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

span {
    color: #E55473;
}

li {
    list-style: none;
}

a {
    text-decoration: none;

}

p {
    margin: 15px 0;
}

.btn {
    background: #E55473;
    border: none;
    color: white;
    padding: 15px 35px;
    border-radius: 8px;
    font-size: 20px;

}

#header {
    background: rgb(229 84 115 / 19%);
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.nav-menu {
    display: flex;
}

.nav-menu li a {
    font-size: 20px;
    margin-right: 15px;
    color: black;
}

.banner-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin-top: 100px;
}

.banner-img img {
    width: 450px;
}


.feature-part {
    text-align: center;
    margin: 100px 0;
}

.image-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}


.image {
    padding: 50px 50px 0 0;
    border-radius: 170px 170px 0 0;
    background: rgb(229 84 115 / 19%);
    height: 500px;
}

.image1 {
    padding: 50px 50px 0 0;
    border-radius: 170px 170px 0 0;
    background: rgb(229 84 115 / 19%);
    height: 500px;
}

.image2 {
    padding: 50px 50px 0 0;
    border-radius: 170px 170px 0 0;
    background: rgb(229 84 115 / 19%);
    height: 500px;
}

.image1 {
    padding: 92px 0px 0 0;
}

.image1>img {
    width: 370px !important;
}

.image img {
    margin-bottom: 0;
}


.image-item1 img {
    width: 300px;
}

.image-item1 p {
    font-size: 20px;
    text-decoration: underline;
}


.services-container {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: rgb(39 39 39 / 16%);
    padding: 70px;
}

.hot-deals-container {
    background: rgb(229 84 115 / 19%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
    padding: 50px 0;
}


.hot-content {
    text-align: center;
}